<%- include("templates/head") %>
<body>
    <%- include("templates/navbar") %>
    <div class="container mt-5">
        <h1 class="text-center">Editar Oficina</h1>
        <form action="/editar_oficina/<%= item.id %>" method="post" class="mt-3">
            <!-- esto hace que el contenido este centrado -->
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="form-group">
                        <label for="denominacion" class="text-dark">Denominación:</label>
                        <input type="text" class="form-control" id="denominacion" name="denominacion" value="<%= item.denominacion %>" required>
                    </div>
                    <button type="submit" class="btn btn-dark bi bi-patch-check-fill mt-3">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
    <%- include("templates/footer") %>
</body>
</html>
