<%- include("templates/head") %>
<body>
    <%- include("templates/navbar") %>
    <div class="container mt-5">
        <h1>Lista de Personas</h1>
        <a href="/agregar" class="btn btn-dark btn-floating m-1 bi bi-person-plus-fill"></a>
        <a href="/buscar_persona" class="btn btn-dark btn-floating m-1 bi bi-search"></a>

        <div class="row">
            <div class="col-md-12">
                <div class="row bg-dark text-white p-2 mb-2 font-weight-bold">
                    <div class="col-md-2 text-center">ID</div>
                    <div class="col-md-2 text-center">Nombre</div>
                    <div class="col-md-2 text-center">Email</div>
                    <div class="col-md-2 text-center">Oficina</div>
                    <div class="col-md-4 text-center">Acciones</div>
                </div>

                <% Persona.forEach((persona) => { %>
                    <div class="row border-bottom bg-light text-dark">
                        <div class="col-md-2 text-center"><%= persona.id %></div>
                        <div class="col-md-2 text-center"><%= persona.nombre %></div>
                        <div class="col-md-2 text-center"><%= persona.email %></div>
                        <div class="col-md-2 text-center"><%= persona.denominacion %></div>
                        <div class="col-md-4 text-center">
                            <a href="/editar/<%= persona.id %>" class="btn btn-outline-dark bi bi-pencil-square "></a>
                            <a href="/borrar/<%= persona.id %>" class="btn btn-outline-danger bi bi-trash"></a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

    <%- include("templates/footer") %>
</body>
</html>
